/* Task bg colors*/

.task-bg-white {
    background-color: #FFFFFF;
}

.task-bg-cyan {
    background-color: #8DD3C7;
}

.task-bg-pale {
    background-color: #FFFFB3;
}

.task-bg-lilac {
    background-color: #BEBADA;
}

.task-bg-red {
    background-color: #FB8072;
}

.task-bg-blue {
    background-color: #80B1D3;
}

.task-bg-orange {
    background-color: #FDB462;
}

.task-bg-green {
    background-color: #B3DE69;
}

.task-bg-pink {
    background-color: #FCCDE5;
}

.task-bg-grey {
    background-color: #D9D9D9;
}

.task-bg-purple {
    background-color: #BC80BD;
}

.task-bg-palegreen {
    background-color: #CCEBC5;
}

.task-bg-yellow {
    background-color: #FFED6F;
}

/* Task card styles */

.task-card-header {
    background-color: rgb(255 255 255 / 0%);
}

.task-card-body {
    display: none;
    background-color: rgb(255 255 255 / 33%);
}

.card-header-toggle {
    width: 100%;
    padding: 0;
}

.task-card-header-text {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

.task-card-header-description {
    margin-bottom: 0rem;
    text-align: left;
}

.task-card-header-icon {
    margin-bottom: 0rem;
    text-align: right;
}

.task-card-btn-delete {
    /*margin-top: 1.2rem;
    font-size: small;*/
}

.task-card-body-inline {
    display: grid;
    grid-template-columns: 20px auto;
    gap: 5px;
    width: 100%;
}

.task-card-body-inline-icon {
    margin-bottom: 0rem; 
    text-align: left;
}

.task-card-body-inline-label {
    margin-bottom: 0rem; 
    text-align: left;
}



/* Task card container styles */

.card-container-body {
    overflow-y: auto;
}

.card-container-wrapper {
    margin-bottom: 1vh;
}
